backup_dotfiles
notes

# Vim #
#########
.netrwhist

# Emacs #
###########
auto-save-list
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# Atom #
####################
atom/.node-gyp
atom/packages
atom/nohup.out
compile-cache
atom/storage

# Sublime Text #
###################

sublime-text-3/Backup
sublime-text-3/Cache
sublime-text-3/Index
sublime-text-3/Local
