[submodule "awesome-dangerzone"]
	path = awesome-dangerzone
	url = git@github.com:gmmeyer/awesome-dangerzone.git
[submodule "editor-configs"]
	path = editor-configs
	url = git@github.com:gmmeyer/editor-configs.git
