"*":
  "atom-beautify":
    general:
      _analyticsUserId: "9a0f465f-d10a-4431-8608-ae4610e56c00"
      analytics: false
    js:
      brace_style: "collapse-preserve-inline"
      indent_size: 2
    jsx:
      indent_size: 2
  "atom-css-comb": {}
  core:
    audioBeep: false
    disabledPackages: [
      "atom-color-highlight"
      "backbonejs-snippets"
      "metrics"
      "tablr"
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "afterglow-monokai-syntax"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Ubuntu Mono derivative Powerline"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "31b9246d-8284-36bd-571e-b1f30061e0a3"
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    panelDisplayMode: "closed"
  "isotope-ui":
    fontFamily: "System Default"
  linter:
    disabledProviders: [
      "Flake8"
    ]
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap:
    disablePythonDocLinks: true
  "one-dark-ui":
    fontSize: 12
  "one-light-ui":
    fontSize: 13
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
    themeColor: "Steel"
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
