[Desktop Entry]
Name=Connect to Server
TryExec=nautilus-connect-server --no-desktop
Exec=nautilus-connect-server --no-desktop
Icon=applications-internet
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.14.2
X-Ubuntu-Gettext-Domain=nautilus
