"*":
  "exception-reporting":
    userId: "31b9246d-8284-36bd-571e-b1f30061e0a3"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  editor:
    invisibles: {}
    softWrap: true
    zoomFontWhenCtrlScrolling: false
    fontSize: 18
  linter: {}
  "isotope-ui":
    fontFamily: "System Default"
  "one-dark-ui":
    layoutMode: "Spacious"
